.ImageButton{
    margin:auto;
    height: 30vh;
    width: 95vw;
    background-size: 100%;
    position:relative;
    z-index: -1;
    background-repeat: no-repeat;

    @media(min-width:822px){
        height: 20rem;
        width: 30rem;
    }
}

.Banner{
    position: absolute;
    background-color: #B5B1B1;
    opacity: 50%;
    z-index: 1;
    height: 1.6rem;
    width: 100%;
    
}

.BannerText{
    position: absolute;
    color: white;
    right: 40%;
    font-size: 1.5rem;
    color: white;
    z-index: 22;
}

