.container{

    h1{
        margin-left: 30px;
        font-family: 'Oswald', sans-serif;
    }
    h2{
        margin-left: 35px;
        font-family: 'Rubik', sans-serif;
    }
    p{
        margin-left: 35px;
        font-family: 'Noto Sans KR', sans-serif;

    }

    @media screen and (min-width: 822px){
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}


.location{
    display: none;
    @media screen and (min-width: 822px){
        display: flex;
        margin-top: 25px;
    }
}